<!-- <div>
   <button>Register</button>
  <button>Login</button> -->
  <!-- <button routerLink="simple">Simple interest Calculation</button> -->
<!-- </div>
<router-outlet></router-outlet>
<app-c1></app-c1>
<app-c2></app-c2>
<app-c3></app-c> --> 
  <!-- <app-login> </app-login> -->
  <a routerLink="register">register</a> &nbsp; &nbsp; &nbsp;
  <a routerLink="login">Login</a> &nbsp; &nbsp; &nbsp;
  <a routerLink="simple">Simple Interest Calculation</a><br><br><br>
  <router-outlet></router-outlet>